html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: $font-m;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: $font-weight-s;
  color: $very-dark-blackish-blue;
  line-height: 1.5;

  .text_bold {
    font-weight: $font-weight-m;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    color: black;

    a {
      color: $moderate-violet;
    }
  }
}