// Colors
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-violet: #A775F1;

$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);


// Font Sizes
$font-l: 1.25rem; // 20px
$font-m: 0.8125rem; // 13px
$font-s: 0.6875rem; // 10px

// Font Weights
$font-weight-m: 600;
$font-weight-s: 500;
